* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(rgb(16, 5, 73) 100%, rgb(47, 221, 16) 0%);
  color: white;
}

/* header/nav */

.header {
  display: flex;
  padding: 1% 0;
}

.header a {
  color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.nav-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
}

.logo a,
.nav-right a {
  padding: 10px 15px;
  text-align: center;
  display: block;
}

/* main */

/* hero */

.hero-banner {
  background-image: url("/assets/images/photo-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.subtitle {
  background-color: blue;
  color: white;
  padding: 3%;
  margin: 2% 1%;
  font-size: 100%;
}

.profile-pic {
  border-radius: 50%;
  border: 5px solid blue;
  margin: 1% auto;
}

/* work picture-grid */

.page-section {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 15% 80%;
  align-content: stretch;
}

.project-grid {
  height: 110vh;
  width: 90%;
  gap: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project5";
}

.project1 {
  grid-area: project1;
  background-image: url(/assets/projects/world-cup-tracker/world-cup-tracker.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project2 {
  grid-area: project2;
  background-image: url(/assets/projects/furniture-shop/furniture-shop.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project3 {
  grid-area: project3;
  background-image: url(/assets/projects/css-grid-cheatsheet/assets/css-grid-cheatsheet.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project4 {
  grid-area: project4;
  background-image: url(/assets/projects/horiseon/horiseon-screenshot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.project5 {
  grid-area: project5;
  background-image: url(/assets/projects/pre-work-study-guide/pre-work-screeenshot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.project-flex {
  display: flex;
}

.project-flex:hover {
  box-shadow: 10px 10px 8px 10px #888888;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

a h3 {
  color: red;
  background-color: yellow;
}

/* footer */
footer section {
  display: flex;
}

.contact-links {
  align-items: center;
  justify-content: space-evenly;
  padding: 2%;
}

/* MEDIA QUERIES */

@media (max-width: 950px) {
  .page-section {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-content: stretch;
  }
}

@media (max-width: 500px) {
  .profile-pic {
    height: 150px;
  }

  .logo {
    align-items: center;
  }

  .hero-banner {
    display: inline-block;
    text-align: center;
  }

  .nav-right {
    display: inline-block;
  }

  .page-section {
    display: inline-block;
    width: 100%;
  }
  .page-section h2 {
    text-decoration: underline;
    border-right: none;
    padding: 5%;
  }

  .project-grid {
    margin-top: 10%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  a.project-link {
    margin-top: 10%;
    height: 100%;
    padding: 1%;
  }
}
