* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

/* header/nav */

.header {
  display: flex;
  padding: 1% 0;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.nav-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
}

.logo a,
.nav-right a {
  padding: 10px 15px;
  text-align: center;
  display: block;
}

/* main */

/* hero */

.hero-image {
  height: 80vh;
  width: 100%;
}

/* work picture-grid */

.page-section {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 15% 80%;
  align-content: stretch;
}

.page-section h2 {
  border-right: 5px solid blue;
  height: 100%;
  margin: 0 15%;
}

.project-grid {
  height: 110vh;
  width: 90%;
  gap: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project5";
}

.project1 {
  grid-area: project1;
  background-image: url(/assets/images/02-portfolio-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.project2 {
  grid-area: project2;
  background-image: url(/assets/images/02-portfolio-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.project3 {
  grid-area: project3;
  background-image: url(/assets/images/02-portfolio-3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.project4 {
  grid-area: project4;
  background-image: url(/assets/images/02-portfolio-4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.project5 {
  grid-area: project5;
  background-image: url(/assets/images/02-run-buddy.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.project-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* footer */
footer section {
  display: flex;
}
