* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* header/nav */

.header {
  display: flex;
  padding: 1% 0;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.nav-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
}

.logo a,
.nav-right a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

/* main */

/* work picture-grid */

img {
  height: 100%;
  width: 100%;
}

.page-section {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 15% 80%;
  align-content: stretch;
}

.page-section h2 {
  border-right: 5px solid blue;
  height: 100%;
  margin: 0 15%;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "topRow topRow"
    "middleRow1 mR2"
    "bR1 bR2";
}

.topRow {
  grid-area: topRow;
}

.middleRow1 {
  grid-area: middleRow1;
}

.mR2 {
  grid-area: mR2;
}

/* footer */
footer section {
  display: flex;
}
